* {
  margin: 0;
  padding: 0;
}

button {
  background-color: #1ae4d3;
  border: 1px solid rgb(226, 224, 87);
  border-radius: 2px;
  font-family: inherit;
  font-size: 21px;
  display: block;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #05c46b;
}
.form-group input,
.form-group select,
.form-group textarea {
	border: 1px solid #777;
	border-radius: 2px;
	font-family: inherit;
	padding: 10px;
	display: block;
	width: 95%;
}

body {
  background-color: #05c46b;
  font-family: Verdana;
  text-align: center;
}

form {
  background-color: #fff;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}