{% extends "accounts/base.html" %} {% block content %}
<div class="container">
  <h1>App Links</h1>
  <br />
  <div>
    <a href="admin">Admin Panel</a>
    <br />
    <a href="{% url 'login' %}">Login</a>
    <br />
    <a href="{% url 'app_api_urls' %}">Api Urls List</a>
    <br />
    <a href="{% url 'admins_index' %}">Admin</a>
    <br />
    <a href="{% url 'employees_index' %}">Employees</a>
    <br />
    <a href="{% url 'employee_registration' %}">employee registration</a>
    <br />
    <a href="{% url 'farmers_index' %}">Farmers</a>
    <br />
    <a href="{% url 'farmer_registration' %}">farmer registration</a>
    <br />
    <a href="accounts/logout/">Logout</a>
  </div>
</div>
{% endblock content %}
