{% extends "employees/base.html" %} {% block content %}
<div class="container_1">
  <strong>Employees</strong>
  <br />
  <div>
    {% for hiring_request in hiring_request_lists %}
    <div>
      <strong>
        hearing User email : {{hiring_request.email_hearing_by}}
      </strong>
      <p>message : {{hiring_request.message}}</p>
      <p>Job Hearing Status : {{hiring_request.jobHearingStatus}}</p>
      <div
        style="display: flex; justify-content: center; justify-items: baseline"
      >
        <form
          action="{% url 'accepted_hiring_request' hiring_request.id %}"
          method="post"
          class="d-inline"
        >
          {% csrf_token %}
          <button type="submit" class="btn">Accept Job</button>
        </form>
        <form
          action="{% url 'rejected_hiring_request' hiring_request.id %}"
          method="post"
          class="d-inline"
          style="margin-left: 5px"
        >
          {% csrf_token %}
          <button type="submit" class="btn">Rejected Job</button>
        </form>
      </div>
    </div>
    <br />
    {% endfor %}
  </div>
</div>
{% endblock content %}
