{% extends "farmers/new_base.html" %}
{% block styles %}
    <style>
        .left-box {
            width: 60%;
            height: 100vh;
            text-align: center;

        }

        .right-box {
            width: 40%;

            height: 100vh;
        }

        .home_container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card_img {
            border-radius: 2rem;
            margin: 1rem;
        }

        .cards {
            padding: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 5rem;
        }

        .ann_container {
            background-color: #F67979;
            border: 10px #ACACAC;
            width: 80%;
            margin-top: 6rem;
        }

        .ann_item {
            padding: 1rem;
            background-color: #eae9e9;
        }

        .bottom-card {

            padding: 1rem 25rem 2rem 10rem;
            margin-left: 2rem;
            margin-right: 2rem;
            text-align: center;
        }

        .row_3 {
            padding: 1rem 1rem 15rem 1rem;
        }

        .create {
            width: 100%;
            background-color: #ffffff;
            text-align: center;
            padding: 2rem;
            border-radius: 2rem;
        }

        a {
            text-decoration: none;
        }


        h1 {
            font-size: 3rem;
            margin-bottom: 0.25rem;
        }

        input {
            padding: 1rem;
            border: 2px solid black;
            border-radius: 0.5rem;
            font-size: 1.25rem;
            background-color: white;
            margin: 0.5rem 0;
            width: 100%;
        }

        #submit {
            padding: 1rem 0.5rem;
            border: none;
            background-color: rgb(64, 203, 207);
            cursor: pointer;
        }

        #submit:hover {
            background-color: black;
            color: white;
        }

        form {
            margin: 4rem;
        }


    </style>
{% endblock %}
{% block content %}
    <div class="home_container">
        <div class="left-box">

            <form action="" method="post">
                <h1>Post a Job️</h1> <br>
                {% if msg %}
                    <div class="alert alert-success">{{ msg }}</div>
                {% endif %}

                {% if err %}

                    <div class="alert alert-danger">{{ err }} </div>
                {% endif %}
                {% csrf_token %}
                <input type="text" name="jobname" placeholder="Input Job Title" required><br>
                <input type="text" name="jdesc" placeholder="Input Job Description" required><br>
                <input type="number" name="day" placeholder="Input number of days" required><br>
                <input type="number" name="salary" placeholder="Input salary" required><br>
                <input type="submit" value="Submit" id="submit">
            </form>

        </div>
        <div class="right-box">
            <div class="ann_container">
                <div class="ann_head" style="padding: 1rem">
                    Added Jobs
                </div>
                {% for an in anns %}
                    <div class="ann_item">
                        <h3>{{ an.name }}</h3>
                        <p>{{ an.description }}</p>
                        Salary:<p>{{ an.salary }} ,
                        Days: {{ an.day }}

                        <a href="/farmers/job/{{ an.id }}">Click here</a></p>

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
