{% extends "farmers/new_base.html" %} {% block content %}
    <style>
        .base_container {
            padding: 3rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .item {

            background-color: white;
            border-radius: 1.5rem;
            margin: 1.5rem;
        }

        .item_top {
            width: 20rem;
            height: 10rem;
            border-radius: 1.5rem 1.5rem 0 0;
            background-color: #FFFFFF;


        }

        .item_bottom {
            width: 20rem;
            height: 5rem;
            border-radius: 0 0 1.5rem 1.5rem;
            background-color: #99ACDD;
            text-align: center;

        }

        .item_bottom_text {
            padding-top: 2rem;
            color: white;
            font-size: 1.5rem;
        }

        .item_top_text {
            margin: 1.5rem;
        }
    </style>
    <div class="base_container">
        {% for employee in employees %}
            <div class="item">
                <form action="" method="post">
                    <div class="item_top">
                        {% csrf_token %}
                        <input style="display: none" type="text" name="employee" value="{{ employee.id }} ">
                        <div class="item_top_text">
                            <p>Name: {{ employee.first_name }} {{ employee.last_name }} </p>
                            <p>Age: {{ employee.age }}</p>
                            <p>Address: {{ employee.address }}</p>
                        </div>

                    </div>
                    <div>
                        <button type="submit" class="item_bottom">Hire</button>
                    </div>
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
