{% extends "farmers/new_base.html" %}
{% block styles %}
    <style>
        .left-box {
            width: 60%;

            height: 100vh;
        }

        .right-box {
            width: 40%;

            height: 100vh;
        }

        .home_container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card_img {
            border-radius: 2rem;
            margin: 1rem;
        }

        .cards {
            padding: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 5rem;
        }

        .ann_container {
            background-color: #F67979;
            border: 10px #ACACAC;
            width: 80%;
            margin-top: 6rem;
        }

        .ann_item {
            padding: 1rem;
            background-color: #eae9e9;
        }

    </style>
{% endblock %}
{% block content %}
    <div class="home_container">
        <div class="left-box">
            <div class="cards">
                <div class="row_1">
                    <img class="card_img" width="190px" src="/media/market_rate.jpg">
                    <img width="190px" src="/media/forum.jpg" class="card_img">

                </div>
                <div class="row_2">
                    <img width="190px" class="card_img" src="/media/Weather.jpg">

                    <img width="190px" src="/media/Hire.jpg" class="card_img">
                </div>
            </div>
            <div class="bottom-card"></div>
        </div>
        <div class="right-box">
            <div class="ann_container">
                <div class="ann_head" style="padding: 1rem">
                    Announcements
                </div>
                {% for an in anns %}
                    <div class="ann_item">
                        <h3>{{ an.title }}</h3>
                        <p>{{ an.description }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
