{% extends "farmers/new_base.html" %}
{% block styles %}
    <style>
        .left-box {
            width: 60%;

            height: 100vh;
        }

        .right-box {
            width: 40%;

            height: 100vh;
        }

        .home_container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card_img {
            border-radius: 2rem;
            margin: 1rem;
        }

        .cards {
            padding: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 5rem;
        }

        .ann_container {
            background-color: #F67979;
            border: 10px #ACACAC;
            width: 80%;
            margin-top: 10rem;
        }

        .ann_item {
            padding: 1rem;
            background-color: #eae9e9;
        }

        .profile_container {
            padding: 3rem;

            width: 50%;
            margin-left: 6rem;
            margin-top: 10rem;
            display: flex;
            justify-content: start;

        }
        .profile{
            background-color: white;
            border-radius: 3rem;
            margin: 5rem;
        }

        .details {
            margin-left: 3rem;
        }

    </style>
{% endblock %}
{% block content %}
    <div class="home_container">
        <div class="left-box">
            <div class="profile">
                <div class="profile_container">
                    <div class="profile_img">
                        <img width="150px" src="/media/pro.png">
                    </div>
                    <div class="details">
                        <H2>{{ request.user.first_name }} {{ requst.user.last_name }}</H2>
                        <p>Age: {{ request.user.age }}</p>
                        <p>Aadhar: {{ request.user.aadhar }}</p>
                        <p>State: {{ request.user.state }}</p>
                        <p>Current Crop: {{ request.user.crops.crop_name }}</p>
                        <p>Land area : {{ request.user.hector }} hectors</p>
                        {% if corps %}
                            <p>Corps details :</p>
                            <p>{{ corps.crop_category }}</p>
                            <p>Available for job : {{ corps.is_available_for_job }}</p>
                        {% endif %}

                    </div>

                </div>
                <h2 style="text-align: center;padding-bottom: 2rem"><strong> Networth based on crops is {{ net_worth }} ruppes: </strong></h2>
            </div>

            <div class="bottom-card"></div>
        </div>
        <div class="right-box">
            <div class="ann_container">
                <div class="ann_head" style="padding: 1rem">
                    Announcements
                </div>
                {% for an in anns %}
                    <div class="ann_item">
                        <h3>{{ an.title }}</h3>
                        <p>{{ an.description }}</p>
                        {% if an.link %}
                            <a href="{{ an.link }}">Click here</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
