{% extends "accounts/new_index.html" %} {% block content %}

    <style>
        .container {
            margin-left: 35%;
            margin-top: 25%;
            background-color: #c5821e;
            width: 25%;
            padding: 1rem;
        }
    </style>

    <div class="container">
        <strong>Registrations</strong>
        {% if message %}
            <div class="alert alert-success">{{ message }}</div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>First Name</td>
                    <td>{{ form.first_name }}</td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td>{{ form.last_name }}</td>
                </tr>

                <tr>
                    <td>Username</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ form.email }}</td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>{{ form.password1 }}</td>
                </tr>
                <tr>
                    <td>confirm Password</td>
                    <td>{{ form.password2 }}</td>
                </tr>

                <tr>
                    <td>Age</td>
                    <td>{{ form.age }}</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>{{ form.phone }}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{ form.address }}</td>
                </tr>
                <tr>
                    <td>Aadhar</td>
                    <td>{{ form.aadhar }}</td>
                </tr>
                <span class="text-error">{{ form.errors }}</span>
            </table>

            <button><input type="submit" value="Register"/></button>
        </form>
    </div>



{% endblock content %}
